<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="signalFxReporter" type="Metrics.SignalFx.Configuration.SignalFxReporterConfiguration, Metrics.NET.SignalFX" />
    </configSections>

    <signalFxReporter apiToken="YOUR TOKEN HERE" sourceType="fqdn" sampleInterval="00:00:10">
        <defaultDimensions>
            <!-- supported are Prod, Staging, QA, Dev-->
            <defaultDimension name="Environment" value="Dev" />
            <defaultDimension name="ServerType" value="EVP" />
        </defaultDimensions>
    </signalFxReporter>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>